@font-face {
    font-family: 'acre-medium';
    src: url("/fonts/acre-medium-webfont.woff2") format('woff2'),
    url("/fonts/acre-medium-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}